<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Organizer</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"/>
</head>
<body>
<main class="container">
    <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
        <ul>
            <li><a href="{% url 'newapp:author' %}" role="button">  Author</a></li>
            <li><a href="{% url 'newapp:quotes' %}" role="button">  Quoute</a></li>
            <li><a href="{% url 'newapp:author_add' %}" role="button">Add author</a></li>
            <li><a href="{% url 'newapp:quotes_add' %}" role="button">Add quoute</a></li>
        </ul>
    </nav>

    {% for quoute in quoutes %}
    <ul>
        <li>
            {% if not quoute.done %}
            <a href="{% url 'newapp:detail' quoute.id %}" role="button" class="outline"> {{ quoute.tags }} </a>
            <a href="{% url 'newapp:set_done' quoute.id %}" role="button"> Mark Done </a>
            <a href="{% url 'newapp:delete' quoute.id %}" role="button" class="contrast"> Delete quoute  </a>
            {% else %}
            <a href="{% url 'newapp:detail' quoute.id %}" role="button" class="secondary"><s>{{ quoute.tags }}</s></a>
            {% endif %}
        </li>
    </ul>
    {% endfor %}
</main>
</body>
</html>
