fastapi
psycopg2-binary
uvicorn  
python-jose["cryptography"]
sqlalchemy
passlib["bcrypt"]
python-multipart
fastapi-jwt-auth
libgravatar
cloudinary
fastapi-mail
redis
fastapi-limiter
radis
pip
alembic
sphinx
sphinx-autobuild
pytest
pytest-mock
pydantic[dotenv]
pytest-cov